.nav-item {
  font-size: 2rem;
  width: 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.change {
  cursor: pointer;
  top: 0%;
  right: 0;
  margin-right: 10px;
  margin-top: 3px;
  padding: 8px;
  border-radius: 5px;
  color: white;
  position: fixed;
  width: auto;
  height: auto;
  background: rgba(22, 1, 1, 0.521);
  transition: 0.5s;
  z-index: 7;
}
.change :hover {
  transition: border 0.2s ease-in-out;
}
.sidenav {
  top: 0%;
  left: 0;
  right: 0;
  height: 100%;
  width: 0%;
  background: rgba(15, 15, 15, 0.904);
  position: fixed;
  z-index: 3;
  overflow: hidden;
  transition: 0.5s ease-in;
}
