body {
  margin: 0%;
  width: 100%;
  background-position: center;
  font-family: "Overpass", sans-serif;
  background: linear-gradient(270deg, #25ff99, #25cff5);
  background-size: 450% 450%;
  animation: AnimationName 10s ease infinite;
}

@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.home {
  width: 1000px;
  height: 1000px;
  margin: -100px;
  top: 0%;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 50px;
  color: white;

  background: black;
  position: fixed;
  display: none;
  z-index: 20;
}
.home p {
  margin: 150px;
}
@media (max-width: 400px) and (orientation: portrate) {
  .home {
    display: block;
  }
}
